node_modules
.DS_Store
logs
*.log
npm-debug.log*
.npm
test/dist
test/build/*
test/dist/*
test/config/live_settings.js
test/selenium/logs
test/selenium/screenshots
test/selenium/output
typings
typings.json
tests_output/
browserstack.err
local.log
TESTING.md
